xterm*foreground: #aaa
xterm*background: #000

!*font: -*-proggycleansz-*-*-*-*-*-*-*-*-*-*-*-*
!*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-*
xterm*faceName:  ProggyTinyTTSZ:style=Regular:size=8
!xterm*faceName:  Terminus:style=Regular:size=12

xterm*cursorColor: #888
xterm*cursorBlink: on

! Forbid bold font face.
xterm*colorBDMode: true
xterm*colorBD: #00CDCD
xterm*allowBoldBonts: false

! Do not underline text.
xterm*colorULMode: true
xterm*colorUL: #e4e4e4

!Gutterslob colors
!black - 474747
xterm*color0:  #000000 
xterm*color8:  #606060
!red
xterm*color1:  #A06760
xterm*color9:  #CC928D
!green
xterm*color2:  #60A067
xterm*color10: #8DCC92
!yellow
!URxvt*color3:  #A08760
xterm*color3:  #A09E60
xterm*color11: #CCB28D
!blue
xterm*color4:  #607AA1
xterm*color12: #8DA7CC
!magenta
xterm*color5:  #A1619A
xterm*color13: #C983C1
!cyan
xterm*color6:  #559DA1
xterm*color14: #7EC6CA
!white
xterm*color7:  #C2C2C2
xterm*color15: #FFFFFF


! rxvt-unicode
URxvt*jumpScroll: true
URxvt*termName: xterm
URxvt*scrollBar: false

URxvt*foreground: #aaa
URxvt*background: #000

!URxvt*font: xft:ProggyTinyTTSZ:style=Regular:size=8, fixed
URxvt*font: xft:Terminus:style=Regular:size=6, fixed
! Forbid bold/italic font.
URxvt*boldFont:
URxvt*italicFont:
URxvt*boldItalicFont:
URxvt*colorBD: #fff
URxvt*colorUL: #eee

URxvt*cursorColor: #888
URxvt*cursorBlink: on

!Gutterslob colors
!black - 474747
URxvt*color0:  #000000 
URxvt*color8:  #606060
!red
URxvt*color1:  #A06760
URxvt*color9:  #CC928D
!green
URxvt*color2:  #60A067
URxvt*color10: #8DCC92
!yellow
!URxvt*color3:  #A08760
URxvt*color3:  #A09E60
URxvt*color11: #CCB28D
!blue
URxvt*color4:  #607AA1
URxvt*color12: #8DA7CC
!magenta
URxvt*color5:  #A1619A
URxvt*color13: #C983C1
!cyan
URxvt*color6:  #559DA1
URxvt*color14: #7EC6CA
!white
URxvt*color7:  #C2C2C2
URxvt*color15: #FFFFFF

! Monochromed
URxvt*cursorColor: #55ff55
URxvt*foreground:  #55ff55
URxvt*background:  #000000
URxvt*color0:      #000000
URxvt*color8:      #000000
URxvt*color1:      #55ff55
URxvt*color9:      #55ff55
URxvt*color2:      #55ff55
URxvt*color10:     #55ff55
URxvt*color3:      #55ff55
URxvt*color11:     #55ff55
URxvt*color4:      #55ff55
URxvt*color12:     #55ff55
URxvt*color5:      #55ff55
URxvt*color13:     #55ff55
URxvt*color6:      #55ff55
URxvt*color14:     #55ff55
URxvt*color7:      #55ff55
URxvt*color15:     #55ff55
